# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

.refact
.pytest_cache
# Environment variables
.env

# Logs
logs/
*.log

# Docker
.docker/

# Terraform Secrets & State
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars